---
title: PROCJAM Submission
date: 2017-06-20
type: design
language: en
layout: procjam
slug: procjam
---

<section>
  <div class="text">
    <p class="intro">Hello. This is my submission for the PROCJAM 2017 Call for Artists.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>My name is Étienne Després. I’m a designer and video artist by day, and also by day, I’m a member of the <a href="http://grandbruit.ca">Grand bruit</a> collective. We make real and fake video games and have a lot of fun.</p>
    <p>Here is some art I made.</p>
    <h2>La Ducasse de Mons</h2>
    <p>This is a fake video game about how tradition and modernity clash and cohabit.</p>
  </div>
</section>
    
<section class="wide">
  <div class="screenshot">
    {% include image.html name="doudou" format="png" alt="Screenshots from La Ducasse de Mons" %}
  </div>
</section>
    
<section>
  <div class="text">
    <h2>Apollo 11</h2>
    <p>This is an upcoming video game about dealing with the psychological aftermath of the July 1969 space tragedy.</p>
  </div>
</section>

<section class="wide">
  <div class="screenshot">
    {% include image.html name="apollo11" format="png" alt="Screenshots from Apollo 11" %}
  </div>
</section>

<section>
  <div class="text">
    <h2>Things I want to do</h2>
    <p>For </p>
  </div>
</section>
