---
title: PROCJAM Submission
date: 2017-06-20
type: design
language: en
layout: procjam
slug: procjam
---

<section>
  <div class="text">
    <p class="intro">Hello. This is my submission for the PROCJAM 2017 Call for Artists.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>My name is Étienne Després. I’m a designer and video artist by day. Also by day, just on a different day, I’m a member of the <a href="http://grandbruit.ca">Grand bruit</a> collective. We make real and fake video games.</p>
    <p>Here is some art I made.</p>
    <h2>La Ducasse de Mons</h2>
    <p>A fake video game, as it was designed solely to be used as a prop in a play. It’s about how tradition and modernity clash and coexist. And dragons.</p>
  </div>
</section>
    
<section class="wide">
  <div class="screenshot">
    {% include image.html name="doudou" format="png" alt="Screenshots from La Ducasse de Mons" %}
  </div>
</section>
    
<section>
  <div class="text">
    <h2>Apollo 11</h2>
    <p>An upcoming video game about dealing with the psychological aftermath of the July 1969 space tragedy.</p>
  </div>
</section>

<section class="wide">
  <div class="screenshot">
    {% include image.html name="apollo11" format="png" alt="Screenshots from Apollo 11" %}
  </div>
</section>

<section>
  <div class="text">
    <h2>My PROCJAM Proposal</h2>
    <p>My goal is to design a simple and flexible 2D isometric tile system.</p>
    <p>Building on the style I developed for <em>Apollo 11</em>, I will focus on plain shapes, volumes, and colors&nbsp;— basic elements meant to be used and combined in creative ways.</p>
    <p>While I intend to provide the typical staples of isometric tile systems&nbsp;— terrain, roads, walls&nbsp;— I would also like to explore less common themes: faces, insects, molecules. Fun!</p>
    <p class="foot">Thanks for considering my application. I can be reached at <a href="mailto:hello@etienne.cool">hello@etienne.cool</a>.</p>
  </div>
</section>
