---
title: Étienne Després – Selected works
date: 2018-10-04
type: design
language: en
layout: procjam
slug: seckrit
---

<section>
  <div class="text">
    <p class="intro">Hello. I’m here for the glamour of the game business.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>My name is Étienne Després. I’d love to work as a pixel tile artist on your side project.</p>
    <p>I have a <a href="/en">portfolio</a> where you can see everything I do (from graphic design to 3D animation), but I assembled here a summary of the most relevant projects. I art-directed and designed all of the following.</p>
  </div>
</section>

<section>
  <div class="text">
    <h2>Untitled Social Anxiety Game</h2>
    <p>I wanted a distinctive look for this in-development tile-based game. I settled on a rare type of perspective inspired by Ultima 6, combined with 45-degrees pixels.</p>
  </div>
</section>

<section class="wide">
  <div class="screenshot">
    {% include image.html name="simparty" format="png" alt="Mockup and making-of screenshots from Untitled Social Anxiety Game" %}
  </div>
</section>

<section>
  <div class="text">
    <h2>Apollo 11</h2>
    <p>An upcoming video game about dealing with the psychological aftermath of the July 1969 space tragedy.</p>
  </div>
</section>

<section class="wide">
  <div class="screenshot">
    {% include image.html name="apollo11" format="png" alt="Screenshots from Apollo 11" %}
  </div>
</section>

<section>
  <div class="text">
    <h2>La Ducasse de Mons</h2>
    <p>A fake video game, as it was designed solely to be used as a theatre prop. It’s about how tradition and modernity clash and coexist. And dragons.</p>
  </div>
</section>
    
<section class="wide">
  <div class="screenshot">
    {% include image.html name="doudou" format="png" alt="Screenshots from La Ducasse de Mons" %}
  </div>
</section>

<section>
  <div class="text">
    <h2>SimUncle</h2>
    <p>A game about dealing with a family dinner with your slightly racist uncle.</p>
  </div>
</section>

<section class="wide">
  <div class="screenshot">
    {% include image.html name="simuncle" format="png" alt="Screenshots from SimUncle" %}
  </div>
</section>

<section>
  <div class="text">
    <p>Thanks for considering my application! For more projects, including <a href="/en/projects/safia-nolin">3D animation</a> and <a href="/en/projects/mandoline-hybride">graphic design</a>, see my <a href="/en">full portfolio</a>.</p>
  </div>
</section>
