@import url("http://fonts.googleapis.com/css?family=Noticia+Text:400,700");

body {
  background-color: white;
  font-family: "Noticia Text";
  color: #222;
  width: 800px;
  margin: 2em;
  font-size: 18px;
  line-height: 24px;
}

h1, h2 {
  font-size: 18px;
  margin: 0;
}

h2 {
  color: #ccc;
  margin-bottom: 3em;
  font-weight: normal;
}

p {
  color: #aaa;
  margin: 3px 0;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 2px solid #eee;
  -webkit-transition: all 0.1s ease-in;  
  -moz-transition: all 0.1css s ease-in;  
  -o-transition: all 0.1s ease-in;  
  transition: all 0.1s ease-in;  
  
}

a:hover {
  color: #222;
  border-bottom-color: #222;
}

footer {
  position: absolute;
  bottom: 2em;
  left: 2em;
}