{%- include projects.html -%}

<footer id="contact">
  <section>
    <address>
      <p>
        <a href="tel:+15148865430">+1 514 886 5430</a><br>
        {%- if page.language == 'fr' -%}
          <a href="mailto:salut@etienne.cool">salut@etienne.cool</a>
        {%- else -%}
          <a href="mailto:hello@etienne.cool">hello@etienne.cool</a>
        {%- endif -%}
      </p>
      <p>
        5605 avenue de Gaspé, espace 106<br>
        Montréal (Québec)&nbsp; H2T 2A4
      </p>
    </address>
  </section>
</footer>
