{%- if page.language == 'fr' -%}
  {%- assign about_url = '/a-propos' -%}
  {%- assign language_url = page.url | prepend: "/en" | replace: 'projets', 'projects' | replace: 'a-propos', 'about' -%}
  {%- assign language_url = language_url | replace: 'secret', '' -%}
{%- else -%}
  {%- assign about_url = '/en/about' -%}
  {%- assign language_url = page.url | remove: "/en" | replace: 'projects', 'projets' | replace: 'about', 'a-propos' -%}
{%- endif -%}
{%- assign language_label = site.i18n[page.language].language -%}
{%- if page.slug == 'about' or page.slug == 'a-propos' -%}
  {%- assign projects_prefix = site.i18n[page.language]index_url -%}
{%- else -%}
  {%- assign projects_prefix = '' -%}
{%- endif -%}

<nav>
  <ul>
    <li class="hide-mobile">
      <a href="{{ projects_prefix }}#video">
        {{ site.i18n[page.language]video }}
      </a>
    </li>
    <li class="hide-mobile">
      <a href="{{ projects_prefix }}#design">
        {{ site.i18n[page.language]design }}
      </a>
    </li>
    <li><a href="{{ about_url }}">{{ site.i18n[page.language]about }}</a></li>
    <li><a href="#contact">{{ site.i18n[page.language]contact }}</a></li>
    <li class="language">
      <a href="{{ language_url }}">
        {{ language_label | slice: 0, 2 }}<span class="expanded-word">{{ language_label | slice: 2, 99 }}</span>
      </a>
    </li>
  </ul>  
</nav>