{%- if page.language == "fr" -%}
  {%- assign projects = site.projects-fr -%}
{%- else -%}
  {%- assign projects = site.projects-en -%}
{%- endif -%}

<section class="projects" id="{{ type }}">
  <ul>
    {%- for type in site.types -%}
      {%- assign sorted_projects = projects | sort: 'date' | reverse -%}
      {%- for project in sorted_projects -%}
        {%- if project.type == type and project.published -%}
          <li>{%- include project-item.html project=project -%}</li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</section>
