---
title: Alam al-Mithal
description: Landscapes from another world.
date: 2013-07-12
published: true
type: video
language: en
layout: project
tags: [Art Direction, 3D Modeling]
---

{% include hero.html alt="Maritime Landscape" %}

<section>
  <div class="text">
    <p>The music of <a href="http://www.alamalmithal.com">Alam al-Mithal</a> is meandering, dark, powerful. I composed these surreal landscapes to illustrate their albums.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide side-by-side">
  {% include image.html name="forest" alt="Forest Landscape" %}
  {% include image.html name="mountain" alt="Mountain Landscape" %}
</section>