---
title: Apollo 11
date: 2017-02-20
published: true
type: design
language: en
layout: project
tags: [Art Direction, Programming]
---

<section>
  {% include image.html name="eagle" format="png" alt="The Eagle spacecraft saying 'Oh shit'" %}

  <div class="text">
    <h1>Apollo 11</h1>
    <p class="intro">A video game retracing the story of the 1969 space tragedy.</p>
  </div>
</section>

<section class="screenshot wide">
  {% include image.html name="screenshot" alt="Screenshot of the game" %}
</section>

<section>
  <div class="text">
    <p>Currently in development at the <a href="http://grandbruit.ca">Grand&nbsp;bruit</a> collective. Coming in 2018.</p>
    
    {% include tags.html %}
    
  </div>
</section>