---
title: Apollo 11
description: A video game retracing the story of the 1969 space tragedy.
order: 50
published: true
thumbnail-format: png
language: en
layout: project
tags: [Art Direction, Programming]
---

<section>
  {% include image.html name="eagle" format="png" alt="The Eagle spacecraft saying 'Oh shit'" %}

  <div class="text">
    <h1>{{ page.title }}</h1>
    <p class="intro">{{ page.description }}</p>
  </div>
</section>

<section class="wide screenshot">
  {% include image.html name="screenshot" alt="Screenshot of the game" %}
</section>

<section>
  <div class="text">
    <p>Taking place in the immediate aftermath of the lunar tragedy, <em>Apollo 11</em> is a journey into the troubled mind of its sole survivor.</p>
    <p>Prototype developed within the Grand&nbsp;bruit collective.</p>
    {% include tags.html %}
  </div>
</section>
