---
title: Bibliothèques de Montréal
description: A simple, cheerful website redesign proposal.
date: 2014-12-16
type: design
language: en
layout: project
tags: [Art Direction, Web Design]
---

{% include intro.html %}

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran du site web" %}
</section>

<section>
  <div class="text">
    <p>In a collaboration with <a href="http://espacestemps.ca">Espaces temps</a>, I worked on the design of this proposed reimagining of the website for Montréal’s network of public libraries.</p>
    {% include tags.html %}
  </div>
</section>
