---
title: Boîte noire
date: 2014-11-03
type: video
language: en
layout: project
---

<section class="wide">
  {% include image.html name="hero" alt="Photo de l’installation Boîte noire" %}
</section>

<section class="superimposed">
  <div class="text">
    <h1>Boîte noire</h1>
    <p class="intro">Une installation où s’anime et prend vie un faisceau fantomatique.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>J’ai fait la conception vidéo de cette installation conçue par <a href="http://www.mmessier.com">Martin Messier</a>. <em>Boîte noire</em> met en son et en mouvement un faisceau lumineux projeté dans un grand prisme transparent. Programmation par Mathieu St-Pierre.</p>
    {% include tags.html %}
  </div>
</section>
