---
title: Ducasse de Mons
description: A fake video game about tradition and modernity. And dragons.
date: 2015-05-30
published: true
type: design
language: en
layout: project
tags: [Art Direction]
---

{% include intro.html %}

<section class="hero wide">
  <div>
    {% include image.html name="hero" alt="Screenshot of the game" %}
    {% include image.html name="chat" alt="Screenshot of the chat interface" %}
    {% include image.html name="main" alt="Screenshot of the main interface" %}
  </div>
</section>

<section>
  <div class="text">
    <p>A fake video game designed as visual support for <em>Le Doudou</em>, a play written and performed by Sarah Berthiaume and Florence Minder.</p>
    <p>Designed within the <a href="http://grandbruit.ca">Grand&nbsp;bruit</a> collective.</p>
    {% include tags.html %}
  </div>
</section>
