---
title: Elusive Matter
description: Wisps of smoke turn into ethereal architecture in this light and sound performance.
order: 140
published: true
language: en
layout: project
credits:
  - title: Art direction, concept, musical composition, and performance
    name: Martin Messier
  - title: Video design
    name: Étienne Després
  - title: Production
    name: 14 lieux
---

{% include hero.html alt="Elusive Matter performance photo" %}

<section>
  <div class="text">
    <p>In this performance by <a href="https://martinmessier.art/index.html">Martin Messier</a>, the entire venue is filled with smoke. Beams of light shape the space, and summon a kinetic sculpture that’s at times electrifying, at times soothing.</p>
    <p>World premiere at Mutek Montréal 2021.</p>
    {% include credits.html %}
  </div>
</section>

{% include video.html id="862981569" poster="excerpt" title="Excerpt" %}
