---
title: Faust
date: 2012-06-19
type: video
language: en
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran de la vidéo Faust" %}
</section>

<section class="superimposed">
  <div class="text">
    <h1>Faust</h1>
    <p class="intro">Des ailes en or pour Méphistophélès.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>Dans cette bande annonce pour <em>Faust</em>, Méphistophélès devait renvoyer une image forte et contemporaine.</p>
    <p>J’ai proposé ces ailes métalliques, sans doute peu pratiques pour franchir des cadres de porte, mais acérées et inquiétantes, à son image.</p>
    <p>En collaboration avec l’<a href="http://www.operademontreal.com/en">Opéra de Montréal</a> et <a href="http://deemusic.com">Dee</a>. Réalisé au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    {% include tags.html %}
  </div>
</section>