---
title: Faust
description: A digital costume for Mephistopheles.
date: 2012-06-19
published: true
type: video
language: en
layout: project
tags: [3D Modeling, Animation, Compositing]
---

{% include hero.html alt="Still from the video Faust" %}

<section>
  <div class="text">
    <p>In this teaser for the opera <em>Faust</em>, Mephistopheles broke with <a href="https://duckduckgo.com/?q=mephistopheles&t=hq&iar=images&iax=1&ia=images">classical representations</a> of the character. Building on the tone and language of the costume design, I came up with these imposing golden wings.</p>
    <p>In collaboration with <a href="http://www.operademontreal.com/en">Opéra de Montréal</a> and <a href="http://deemusic.com">Dee</a>. Work done as part of the <a href="http://www.foumalade.org/projects">Foumalade</a> collective.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="229784079" poster="breakdown" title="Effects Breakdown" %}

<section>
  <div class="text">
    <a href="https://vimeo.com/44344704" class="button play">Full teaser on Vimeo</a>
  </div>
</section>
