---
title: Furies
description: A new identity for a contemporary dance festival.
order: 45
published: true
language: en
layout: project
tags: [Graphic Design]
---

{% include hero.html alt="Preview of Furies’s identity" %}

<section>
  <div class="text">
    <p><a href="https://www.mandolinehybride.com/furies/">Furies</a> is a contemporary dance festival based in Marsoui on the Gaspé Peninsula. I like dance, I like the Gaspé Peninsula, and I like the word “Marsoui”. It was obvious that I was going to say yes to this project.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide variantes">
  {% include image.html name="variantes" alt="Variants of the Furies logo" %}
</section>

<section class="wide cartes">
  {% include image.html name="cartes" alt="Promotional cards for Furies" %}
</section>
