---
title: Grand Bruit
description: A vocal and visual experience about the traces we leave behind.
date: 2015-04-02
published: true
type: design
language: fr
layout: project
tags: [Concept, Programming]
---

{% include hero.html alt="A screenshot of Grand Bruit" %}

<section>
  <div class="text">
    <p>Produced by the NFB and Arte as part of the Interactive Haikus project.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide side-by-side">
  {% include image.html name="photo-1" alt="Photo of the installation" %}
  {% include image.html name="photo-2" alt="Photo of the installation" %}
</section>

<section>
  <div class="text">
    <a href="http://etienne.github.io/grandbruit" class="button play">Try it</a>
  </div>
</section>
