---
title: Manivelle
description: A fun and intuitive interface for digital signage devices.
date: 2015-10-28
type: design
published: true
language: en
layout: project
tags: [Interactive Design, Illustration]
---

{% include intro.html %}

<section class="wide hero">
  {% include image.html name="hero" alt="Photo of Manivelle being used" %}
</section>

<section>
	<p class="credit">Photos&nbsp;: Marianne Audet-Chapdelaine</p>
</section>

<section class="main">
  <div class="text">
    <p>Interface design for <a href="http://manivelle.io/en">Manivelle</a>, a digital signage platform that aims to encourage the discovery and exploration of digital content.</p>
    {% include tags.html %}
  </div>
  {% include image.html name="icons" format="png" alt="Icons from the Manivelle interface" %}
</section>

<section class="wide side-by-side illustrations">
  {% include image.html name="iso1" alt="Illustration of Manivelle devices" %}
  {% include image.html name="iso2" alt="Illustration of the Manivelle interface" %}
</section>

<section class="wide screenshots">
  {% include image.html name="screenshots" alt="Screenshots of Manivelle’s interface" %}
</section>
