---
title: Marais du Nord
description: A picturesque website for a natural park.
date: 2016-08-16
published: false
type: design
language: en
layout: project
tags: [Art Direction, Web Design]
---

{% include intro.html %}

<section class="wide">
  {% include image.html name="hero" alt="Screenshot of the website" %}
</section>

<section>
  <div class="text">
    <p>I let the photography do the talking in this website design for the <a href="https://maraisdunord.com">Marais du Nord</a> natural park.</p>
    <p>Project management and development by <a href="https://desaulniers-simard.com/en/">Desaulniers Simard</a>.</p>

    {% include tags.html %}
  </div>
</section>
