---
title: Marais du Nord
description: La photographie à l’honneur pour le site web d’un parc naturel.
date: 2016-08-16
published: true
type: design
language: en
layout: project
tags: [Design web]
---

{% include intro.html %}

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran du site web" %}
</section>

<section>
  <div class="text">
    <p>Il y a des pires choses au monde que de passer ses journées à regarder des photos des <a href="https://maraisdunord.com">Marais du Nord</a>. Ce fut ma vie pendant quelques semaines.</p>
    <p>Gestion de projet et développement par <a href="https://desaulniers-simard.com">Desaulniers Simard</a>.</p>

    {% include tags.html %}
  </div>
</section>
