---
title: Memory
description: A surreal journey through the cycle of seasons.
order: 130
published: true
language: en
layout: project
tags: [3D Modeling, Animation, Compositing]
---

{% include hero.html alt="Screen captures from “Memory”" %}

<section>
  <div class="text">
    <p>For this music video, Johnny Ranger and Mark Ó Fearghaíl imagined a supernatural journey through the cycle of seasons. I punctuated the video with surreal interventions, building on the stunning images they had shot.</p>
    <p>Music by <a href="http://inafilip.ca">Ina Filip</a>. Directed by Johnny Ranger and <a href="https://www.manymarks.work">Mark Ó Fearghaíl</a>.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html source="youtube" id="u2spNeBhGSo" title="Full Music Video" %}