---
title: Safia Nolin
date: 2015-11-21
published: true
type: video
language: en
layout: project
tags: [3D Modeling, Animation, Compositing]
---

<section>
  <div class="text">
    <h1>Safia Nolin</h1>
    <p class="intro">A spaceship for the music video <em>Noël Partout</em>.</p>
  </div>
</section>

<section class="wide screenshot">
  {% include image.html name="still" alt="Capture d’écran de la vidéo Noël Partout" %}
</section>

<section>
  <div class="text">
    <p>When <a href="http://www.davai.ca">Davai</a> approached me to design a spaceship interior, I said no, I am against space colonization.</p>
    <p>Then they told me it wasn’t for a real spaceship, but a spaceship for a Safia Nolin music video, and I said yes.</p>

    {% include tags.html %}

  </div>
</section>

{% include video.html id="219014189" poster="breakdown" alt="VFX Breakdown" %}

<section>
  <div class="text">
    <a href="https://www.youtube.com/watch?v=5fsYFEW3imI" class="button play">Full music video on YouTube</a>
  </div>
</section>
