---
title: Souffle et réminiscence
description: An installation about soaring bodies, fear, and exhilaration.
date: 2011-11-11
published: true
type: video
language: en
layout: project
tags: [Video Design, Animation]
---

{% include hero.html alt="Picture of the installation Souffle et réminiscence" %}

<section>
  <div class="text">
    <p>Inspired by Jean-Paul Riopelle’s <em>Le Cirque</em>, Jeannot Painchaud (Cirque Éloize) envisioned an art installation that plunges visitors into a space inhabited by ghostly bodies straining, breathing, and moving through the air.</p>
    <p>Presented as part of the <em>Big Bang</em> exhibition at the Montreal Museum of Fine Arts. Music by <a href="http://grandponey.com/en/jacques-poulin-denis/">Jacques Poulin-Denis</a>. Video work done as part of the <a href="http://www.foumalade.org/projects">Foumalade</a> collective.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="49175473" poster="still" title="Installation Teaser" %}
