---
title: Symphonie 5.1
description: A dystopian, vertiginous virtual landscape.
order: 110
published: true
language: en
layout: project
tags: [3D Modeling, Compositing]
---

{% include hero.html alt="Composite of Symphonie 5.1 poster and underlying wireframe mesh" %}

<section>
  <div class="text">
    <p>For this promotional shot showcasing Isabelle Van Grimde’s choreographic work <a href="https://vangrimdecorpssecrets.com/en/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a>, I collaborated with photographer Robert D of Davai to design a vertigo-inducing architectural landscape.</p>
    <p>Winner of a <a href="https://concours.infopresse.com/archive/lux/2017">Lux 2017</a> award. Art direction, photography, and retouching by <a href="http://www.davai.tv/">Davai</a>.</p>
    {% include tags.html %}
  </div>
</section>

<section>
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
