---
title: Symphonie 5.1
date: 2015-05-01
published: true
type: video
language: en
layout: project
tags: [3D Modeling, Compositing]
---

<section class="wide">
  {% include image.html name="hero" alt="Composite of Symphonie 5.1 poster and underlying wireframe mesh" %}
</section>

<section class="superimposed">
  <div class="text">
    <h1>Symphonie 5.1</h1>
    <p class="intro">A futuristic, vertiginous virtual landscape.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>For this promotional shot showcasing Isabelle Van Grimde’s choreographic work <a href="http://vangrimdecorpssecrets.com/en/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a>, photographer Robert D enlisted me to design a vertigo-inducing architectural landscape.</p>
    <p>Winner of a <a href="https://concours.infopresse.com/lux/resultats#91a0753f-198e-46b0-bb16-4b15c4b7b911">Lux 2017</a> award. Photography and retouching by Robert D (<a href="http://www.davai.ca">Davai</a>).</p>
    {% include tags.html %}
  </div>
</section>

<section>
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
