---
title: Symphonie 5.1
description: A dystopian, vertiginous virtual landscape.
date: 2015-05-01
published: true
type: video
language: en
layout: project
tags: [3D Modeling, Compositing]
---

{% include hero.html alt="Composite of Symphonie 5.1 poster and underlying wireframe mesh" %}

<section>
  <div class="text">
    <p>For this promotional shot showcasing Isabelle Van Grimde’s choreographic work <a href="http://vangrimdecorpssecrets.com/en/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a>, I collaborated with photographer Robert D of Davai to design this vertigo-inducing architectural landscape.</p>
    <p>Winner of a <a href="https://concours.infopresse.com/lux/resultats#91a0753f-198e-46b0-bb16-4b15c4b7b911">Lux 2017</a> award. Art direction, photography and retouching by <a href="http://www.davai.ca">Davai</a>.</p>
    {% include tags.html %}
  </div>
</section>

<section>
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
