* {
  box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
  @include normal-text;
  background-color: $background-color;
  font-family: "Cogito";
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: bold;
  margin: 0;
}

h1 {
  @include normal-text;
  margin-bottom: 4px;
}

a {
  color: $text-color;
  text-decoration: none;
}

address {
  font-style: normal;
}
