* {
  box-sizing: border-box;
}

body {
  @include normal-text;
  background-color: $background-color;
  font-family: "Questa Sans";
  color: $text-color;
  margin: 0;
  padding: 0;
}

section {
  clear: both;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  @include normal-text;
  margin-bottom: 4px;
}

a {
  color: $text-color;
  text-decoration: none;
}

address {
  font-style: normal;
}
