article.content {
  @include clearfix;
  
  section {
    @include container;
    @include clearfix;
    @include section-margins;
    
    &.wide, &.wrapper {
      width: 100%;
      max-width: 100%;
    }
    
    &.screenshot {
      overflow: hidden;
    }
    
    &.superimposed {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  
  & > section:first-child, section.superimposed {
    padding-top: 5em;

    @include tablet {
      padding-top: 8em;
    }

    @include desktop {
      padding-top: 12em;
    }
  }
  
  img {
    display: block;
    width: 100%;
    
    &.hero {
      @include section-margins;
    }
  }
  
  div.text {
    @include desktop {
      padding-left: 50%;
    }
    
    h1 {
      @include big-text;
      margin: 0;
    }
  
    p {
      @include medium-text;
      margin: 0 0 0.75em;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.intro {
        @include big-text;
    
        a {
          border: none;
          box-shadow: inset 0 -3px rgba(white, 0.2);
          transition: box-shadow $transition-speed;
  
          &:hover {
            box-shadow: inset 0 -3px white;
          }
        }
      }
      
      a {
        border-bottom: 2px solid rgba(white, 0.2);
        transition: border $transition-speed;
      
        &:hover {
          border-bottom-color: white;
        }
      }
    }
    
    a.play {
      font-weight: bold;
      display: inline-block;
      border: 2px solid white;
      padding: 1.125em 1.5em;
      
      @include tablet {
        padding: 1.5em 2em;
      }
      
      &:before {
        content: "▷";
        font-size: 140%;
        margin-right: 1.1em;
      }
    }
  }
}
