body > footer {
  background-color: $background-color;
  
  section {
    @include container;
    padding: 4em 0 5em;
    
    @include tablet {
      padding: 6em 0 7em;
    }

    @include desktop {
      padding: 8em 0 9em;
    }
    
    nav {
      float: right;
    }
  }
}
