header#menu {
  @include container;
  @include clearfix;
  position: absolute;
  padding-top: 0.75em;
  left: 0;
  right: 0;
  color: white;
  
  @include tablet {
    padding-top: 2em;
  }

  @include desktop {
    padding-top: 3em;
  }

  h1 {
    float: left;
    
    @include tablet {
      width: 50%;
    }
    
    body:not([class]) & {
      @include desktop {
        @include medium-text;
        position: relative;
        top: 6.2em;
      }
    }
    
    body[class] &:before {
      position: relative;
      top: 0.05em;
      content: '←';
      font-size: 125%;
      margin-right: 0.5em;
    }
  }
}