// Typography

@mixin small-text {
  font-size: 12px;
  line-height: 17px;

  @include tablet {
    font-size: 16px;
    line-height: 23px;
  }
}

@mixin normal-text {
  font-size: 14px;
  line-height: 19px;

  @include tablet {
    font-size: 20px;
    line-height: 29px;
  }
}

@mixin medium-text {
  font-size: 20px;
  line-height: 29px;

  @include tablet {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin big-text {
  font-size: 30px;
  line-height: 40px;

  @include tablet {
    font-size: 48px;
    line-height: 60px;
  }
}

// Layout

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin container {
  width: 92%;
  max-width: 1152px;
  margin: 0 auto;
}

@mixin breakpoint($min-width) {
  @media only screen and (min-width : $min-width) {
    @content
  }
}

@mixin tablet        { @include breakpoint($tablet)        { @content } }
@mixin desktop       { @include breakpoint($desktop)       { @content } }
@mixin desktop-large { @include breakpoint($desktop-large) { @content } }

@mixin mobile-only {
  @media only screen and (max-width : $tablet - 1px) {
    @content
  }
}
