%small-size {
  font-size: 14px;
  line-height: 21px;
}

%normal-size {
  font-size: 18px;
  line-height: 26px;
}

%medium-size {
  font-size: 30px;
  line-height: 42px;
}

%big-size {
  font-size: 58px;
  line-height: 70px;
}
