header nav {
  float: right;

  @include tablet {
    float: left;
    width: 50%;
  }

  ul {
    @include no-bullets;
    
    li {
      float: left;
      margin-left: 18px;
      
      @include tablet {
        margin-left: 22px;
      }
      
      @include desktop {
        margin-left: 32px;
      }
      
      &:first-child {
        margin-left: 0;
      }
    }
    
    a {
      font-weight: bold;
      display: block;
      
      span.expanded-word {
        @include mobile-only {
          display: none;
        }
      }
    }
  }
}
