body > article {
  main {
    @include container;
    @include clearfix;
    
    div.description {
      @include medium-text;
      margin-bottom: 1em;
      
      @include tablet {
        width: 50%;
        float: right;
      }
      
      p {
        margin: 0 0 0.5em;
      }

      a {
        border-bottom: 1px solid;
        
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
