ul.tags {
  @include no-bullets;
  
  li {
    display: inline;
    
    a {
      display: inline-block;
    }
    
    &:first-child:before {
      content: '';
    } 
    
    &:before {
      content: ' / ';
      color: rgba(white, 0.4);
    }
  }
}
