$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1400px;

$background-color: #4503A3;
$text-color: white;
$primary-color: #86E7BF;

$transition-speed: 0.2s;

$earth-width: 648;
$hand-width: 282;
$hand-position: 436;
$hand-wiggle: 4%;

$projects: (
  alam-al-mithal,
  amour-sorcier,
  apollo-11,
  ariane,
  bibliotheques-de-montreal,
  boite-noire,
  caligram,
  chambre-des-machines,
  ducasse-de-mons,
  espaces-temps,
  faust,
  grand-bruit,
  le-husky,
  manivelle,
  marais-du-nord,
  safia-nolin,
  souffle-et-reminiscence,
);
