$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1400px;

$background-color: #4503A3;
$text-color: white;
$primary-color: #86E7BF;

$transition-speed: 0.2s;

$earth-width: 648;
$hand-width: 282;
$hand-position: 436;
$hand-wiggle: 4%;

$projects: apollo-11, espaces-temps;