* {
  box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
  @include normal-text;
  font-family: $font-families;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-variant-numeric: proportional-nums;
}

h1, h2 {
  margin: 0;
}

h1 {
  @include normal-text;
  margin-bottom: 4px;
}

p {
  margin: 0.8em 0;
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border $transition-speed;
  
  &:hover {
    border-bottom-color: white;
  }
  
  &:focus {
    outline-color: rgba(white, 0.4);
  }
}

address {
  font-style: normal;
}

q {
  html[lang=fr] & {
    &:before {
      content: "«";
      padding-right: 0.18em;
    }
    
    &:after {
      content: "»";
      padding-left: 0.18em;
    }
  }
}

.topbar {
  mix-blend-mode: screen;
}
