@font-face {
  font-family: 'Cogito';
  src: url('../fonts/regular.eot');
  src: url('../fonts/regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cogito';
  src: url('../fonts/italic.eot');
  src: url('../fonts/italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cogito';
  src: url('../fonts/bold.eot');
  src: url('../fonts/bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
