body > footer {
  @include container;
  
  section {
    padding: 4em 0;
    @include clearfix;
    
    @include tablet {
      padding: 6em 0;
    }
    
    address {
      @include desktop {
        width: 50%;
        float: right;
      }
      
      p {
        @include tablet {
          width: 50%;
          float: left;
        }
      }
    }
  }
}
