header#menu {
  @include container;
  @include clearfix;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em 0;
  color: white;
  z-index: 2;
  
  @include tablet {
    padding: 1.5em 0;
  }

  @include desktop {
    padding: 2em 0;
  }

  h1 {
    float: left;
    
    @include desktop {
      width: 50%;
    }

    &:before {
      content: '—';
      color: #8d37ff;
      margin-right: 0.3em;
    }
    
    a {
      display: inline-block;
    }
  }
}