header#menu {
  @include container;
  @include clearfix;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em 0;
  z-index: 2;
  mix-blend-mode: screen;
  
  @include tablet {
    padding: 1.5em 0;
  }

  @include desktop {
    padding: 2em 0;
  }

  h1 {
    float: left;
    
    @include desktop {
      width: 50%;
    }

    &:before {
      @include tablet {
        content: '—';
        color: $primary-color;
        margin-right: 0.3em;
      }
    }
    
    a {
      display: inline-block;
    }
  }
}