article.project-item {
  float: left;
  width: 50%;
  padding-bottom: 1/2 * $magic-ratio;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  font-variant-numeric: oldstyle-nums proportional-nums;
  
  @include desktop {
    width: 1/3 * 100%;
    padding-bottom: 1/3 * $magic-ratio;
  }
  
  @include desktop-large {
    width: 25%;
    padding-bottom: 1/4 * $magic-ratio;
  }

  &:hover {
    img {
      opacity: 1;
    }
    
    a h1 {
      border-bottom: 2px solid white;
    }
  }
  
  img {
    width: 100.5%;
    display: block;
    position: absolute;
    opacity: 0.88;
    transition: opacity $transition-speed, transform $transition-speed;
    -webkit-backface-visibility: hidden;
    
    &:hover {
      transform: scale(1.01);
    }
  }
  
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    
    &:focus {
      box-shadow: inset 0 0 0 2px rgba(white, 0.4);
      
      h1 {
        border-bottom: 2px solid white;
      }
      
      img {
        opacity: 0.5;
      }
    }
    
    h1 {
      position: absolute;
      bottom: 0;
      margin: 4% 8%;
      font-weight: bold;
      border-bottom: 2px solid transparent;
      transition: border $transition-speed;

      @include tablet {
        @include normal-text;
        margin: 4% 6%;
      }
    }
    
    @include tablet {
      @include medium-text;
    }
  }
}
