div#video {
  position: relative;
  cursor: pointer;

  &.plyr--fullscreen-enabled {
    display: block;
  }
  
  &:hover {
    iframe {
      opacity: 1;
    }

    &:not(.plyr--playing) div.play {
      border-color: white;
    }
  }
  
  div.play {
    display: none;
  }
  
  &:not(.plyr--playing) {
    div.play {
      transition: border-color $transition-speed;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 1rem;
      -webkit-backface-visibility: hidden;

      svg {
        width: 32px;
        height: 32px;
        margin-right: 0.6rem;
      }
    }

    iframe {
      transition: opacity $transition-speed;
      opacity: 0.75;
    }
  }
  
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
