---
title: Alam al-Mithal
description: Des paysages d’un autre monde.
date: 2013-07-12
published: true
type: video
language: fr
layout: project
tags: [Direction artistique, Modélisation 3D]
---

{% include hero.html alt="Paysage maritime" %}

<section>
  <div class="text">
    <p>La musique d’<a href="https://alamal-mithal.bandcamp.com">Alam al-Mithal</a> est sinueuse, sombre, puissante. J’ai conçu ces paysages surréels pour illustrer leur premier album.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide side-by-side">
  {% include image.html name="forest" alt="Paysage forestier" %}
  {% include image.html name="mountain" alt="Paysage montagneux" %}
</section>
