---
title: Apollo 11
description: Un jeu vidéo qui retrace le fil de la catastrophe lunaire de 1969.
order: 50
published: true
thumbnail-format: png
language: fr
layout: project
tags: [Direction artistique, Programmation]
---

<section>
  {% include image.html name="eagle" format="png" alt="La navette Eagle disant «Oh shit...»" %}

  <div class="text">
    <h1>{{ page.title }}</h1>
    <p class="intro">{{ page.description }}</p>
  </div>
</section>

<section class="screenshot wide">
  {% include image.html name="screenshot" alt="Capture d’écran du jeu" %}
</section>

<section>
  <div class="text">
    <p>Situé dans le contrecoup immédiat de la tragédie lunaire, <em>Apollo 11</em> est une incursion dans l’âme troublée de son seul survivant.</p>
    <p>Prototype développé au sein du collectif Grand&nbsp;bruit.</p>
    
    {% include tags.html %}
    
  </div>
</section>