---
title: Ariane
date: 2013-04-08
type: video
language: fr
layout: project
tags: [Animation, Compositing]
---

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran de la vidéo Ariane" %}
</section>

<section class="superimposed">
  <div class="text">
    <h1>Ariane</h1>
    <p class="intro">Des lucioles ondoyantes pour une vidéo de Leda &amp; St.Jacques.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>Réalisé par <a href="http://rodeoproduction.com/#/artists/ledastjacques">Leda &amp; St.Jacques</a>, produit par <a href="http://rodeoproduction.com">Rodéo</a>. Animation et compositing réalisés au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="63592820" poster="poster" alt="Capture d’écran de la vidéo" %}

