---
title: Ariane
description: Des nuées de lucioles ondoyantes.
date: 2013-04-08
published: true
type: video
language: fr
layout: project
tags: [Animation, Compositing]
---

{% include hero.html alt="Capture d’écran de la vidéo Ariane" %}

<section>
  <div class="text">
    <p><a href="http://rodeoproduction.com/#/artists/ledastjacques">Leda&nbsp;&amp;&nbsp;St.Jacques</a> avaient une vision claire des interventions surnaturelles qu’ils souhaitaient superposer aux paysages lunaires de la vidéo <em>Ariane</em>&nbsp;: lumières ondoyantes et lucioles éthérées. J’ai collaboré avec eux pour réaliser cette vision.</p>
    <p>Réalisé par <a href="http://rodeoproduction.com/#/artists/ledastjacques">Leda &amp; St.Jacques</a>, produit par <a href="http://rodeoproduction.com">Rodéo</a>. Animation et compositing réalisés au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="229487626" poster="poster" title="Étapes de création" %}

<section>
  <div class="text">
    <a href="https://vimeo.com/63592820" class="button play">Vidéo complète sur Vimeo</a>
  </div>
</section>
