---
title: Ariane
description: Des nuées de lucioles ondoyantes.
order: 90
published: true
language: fr
layout: project
tags: [Animation, Compositing]
---

{% include hero.html alt="Capture d’écran de la vidéo Ariane" %}

<section>
  <div class="text">
    <p><a href="https://www.ledastjacques.com">Leda&nbsp;&amp;&nbsp;St.Jacques</a> avaient une vision claire des interventions surnaturelles qu’ils souhaitaient superposer aux paysages lunaires de la vidéo <em>Ariane</em>&nbsp;: lumières ondoyantes et matière éthérée. J’ai collaboré avec eux pour réaliser cette vision.</p>
    <p>Musique : « Hôtel Amour » par Ariane Moffatt. Produit par <a href="https://rodeoproduction.com/fr/">Rodéo</a>. Animation et compositing réalisés au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    <p><a href="https://vimeo.com/67592707" class="externalLink">Vidéo complète sur Vimeo</a></p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="229487626" poster="poster" title="Étapes de création" %}
