---
title: Bibliothèques de Montréal
date: 2014-12-16
type: design
language: fr
layout: project
tags: [Design web]
---

<section>
  <div class="text">
    <h1>Bibliothèques de Montréal</h1>
    <p class="intro">Une proposition de refonte pour un site web vénérable.</p>
  </div>
</section>

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran du site web" %}
</section>

<section>
  <div class="text">
    <p>Espaces temps avait pour mandat de revoir l’architecture d’information du site web des Bibliothèques de Montréal. J’ai développé cette proposition de design.</p>

    {% include tags.html %}

  </div>
</section>
