---
title: Bibliothèques de Montréal
description: Proposition de refonte de site web.
date: 2014-12-16
published: true
type: design
language: fr
layout: project
tags: [Direction artistique, Design web]
---

{% include intro.html %}

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran du site web" %}
</section>

<section>
  <div class="text">
    <p>Dans une collaboration avec <a href="http://espacestemps.ca">Espaces temps</a>, j’ai proposé cette refonte de l’identité web des Bibliothèques de Montréal.</p>

    {% include tags.html %}

  </div>
</section>
