---
title: Ducasse de Mons
description: Un faux jeu vidéo sur la tradition et la modernité. Et les dragons.
date: 2015-05-30
published: true
type: design
language: fr
layout: project
tags: [Direction artistique]
---

{% include intro.html %}

<section class="hero wide">
  <div>
    {% include image.html name="hero" alt="Capture d’écran du jeu" %}
    {% include image.html name="chat" alt="Capture d’écran de l’interface de discussion" %}
    {% include image.html name="main" alt="Capture d’écran de l’interface principale" %}
  </div>
</section>

<section>
  <div class="text">
    <p>Un faux jeu vidéo conçu comme support à la pièce de théâtre <em>Le Doudou</em>, écrite et interprétée par Sarah Berthiaume et Florence Minder.</p>
    <p>Conçu au sein du collectif <a href="http://grandbruit.ca">Grand&nbsp;bruit</a>.</p>
    {% include tags.html %}
  </div>
</section>
