---
title: Elusive Matter
description: Une architecture fantomatique émerge de la fumée dans cette performance son et lumière.
order: 140
published: true
language: fr
layout: project
credits:
  - title: Direction artistique, concept, composition musicale et performance
    name: Martin Messier
  - title: Conception vidéo
    name: Étienne Després
  - title: Production
    name: 14 lieux
---

{% include hero.html alt="Photo de la performance Elusive Matter" %}

<section>
  <div class="text">
    <p>Dans cette performance de <a href="https://martinmessier.art/projets-artiste-martin-messier.html">Martin Messier</a>, des volutes de fumée remplissent complètement la salle. Un faisceau lumineux sculpte l’espace et fait émerger une architecture cinétique tantôt électrisante, tantôt apaisante.</p>
    <p>Première mondiale à Mutek Montréal 2021.</p>
    {% include credits.html %}
  </div>
</section>

{% include video.html id="862981569" poster="excerpt" title="Extrait" %}
