---
title: Faust
description: Un costume numérique pour Méphistophélès.
date: 2012-06-19
published: true
type: video
language: fr
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

{% include hero.html alt="Capture d’écran de la vidéo Faust" %}

<section>
  <div class="text">
    <p>Dans cette bande annonce pour l’opéra <em>Faust</em>, Méphistophélès rompt avec les <a href="https://duckduckgo.com/?q=mephistopheles&t=hq&iar=images&iax=1&ia=images">représentations classiques</a> du personnage. Prenant pour point de départ le ton et le langage établis par le costume, je suis arrivé à ces imposantes ailes de métal.</p>
    <p>En collaboration avec l’<a href="http://www.operademontreal.com/">Opéra de Montréal</a> et <a href="https://deemontreal.bandcamp.com">Dee</a>. Réalisé au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    <p><a href="https://vimeo.com/44344704" class="externalLink">Bande annonce complète sur Vimeo</a></p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="229784079" poster="breakdown" title="Étapes de création" %}
