---
title: Faust
date: 2012-06-19
type: video
language: fr
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

{% include image.html name="hero" alt="Capture d’écran de la vidéo Faust" %}

<section class="superimposed">
  <div class="text">
    <h1>Faust</h1>
    <p class="intro">Des ailes d’or pour Méphistophélès.</p>
  </div>
</section>

<section>
  <div class="text">
    <p>Costume numérique réalisé dans le cadre d’une bande annonce pour le spectacle <em>Faust</em>. En collaboration avec l'<a href="http://www.operademontreal.com/en">Opéra de Montréal</a> et <a href="http://deemusic.com">Dee</a>. Réalisé au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    {% include tags.html %}
  </div>
</section>