---
title: Furies
description: Une nouvelle identité pour un festival de danse contemporaine.
order: 45
published: true
language: fr
layout: project
tags: [Design graphique]
---

{% include hero.html alt="Aperçu de l’identité Furies" %}

<section>
  <div class="text">
    <p><a href="https://www.mandolinehybride.com/furies/">Furies</a> est un festival de danse contemporaine basé à Marsoui en Gaspésie. J’aime la danse, j’aime la Gaspésie, et j’aime le mot « Marsoui ». Il allait de soi que je dise oui à ce projet.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide variantes">
  {% include image.html name="variantes" alt="Variantes du logo de Furies" %}
</section>

<section class="wide cartes">
  {% include image.html name="cartes" alt="Cartons promotionnels de Furies" %}
</section>
