---
title: Grand Bruit
description: Une expérience vocale et graphique sur les traces que nous laissons.
order: 40
published: true
language: fr
layout: project
tags: [Conception, Programmation]
---

{% include hero.html alt="Une capture d’écran de Grand Bruit" %}

<section>
  <div class="text">
    <p>Dans cette installation interactive, la voix humaine trace des empreintes qui s'égrènent et disparaissent. C’est un hommage au village abandonné de Grand Bruit et aux souvenirs fuyants de ceux et celles qui y ont vécu.</p>
    <p>Réalisé au sein du collectif Grand&nbsp;bruit. Produit par ONF et Arte dans le cadre du projet Haïkus interactifs.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide side-by-side">
  {% include image.html name="photo-1" alt="Photo of the installation" %}
  {% include image.html name="photo-2" alt="Photo of the installation" %}
  <p class="credit">Photos&nbsp;: <a href="http://www.lauracriollo.com/">Laura Criollo Carrillo</a></p>
</section>
