---
title: Logos
description: Des fois j’en fais.
date: 2014-04-02
published: true
thumbnail-format: png
type: design
language: fr
layout: project
tags: [Conception]
---

{% include intro.html %}

<section class="wide side-by-side">
  {% include image.html format="png" name="espaces-temps" alt="Logo d’Espaces temps" %}
  {% include image.html format="png" name="alam-al-mithal" alt="Logo d’Alam al-Mithal" %}
  {% include image.html format="png" name="regards-hybrides" alt="Logo de Regards hybrides" %}
  {% include image.html format="png" name="caligram" alt="Logo de Caligram" %}
</section>
