---
title: Manivelle
description: Une interface ludique et intuitive pour un réseau d’affichage numérique.
order: 20
published: true
language: fr
layout: project
tags: [Design interactif, Illustration]
---

{% include intro.html %}

<section class="wide hero">
  {% include image.html name="hero" alt="Photo de Manivelle en action" %}
</section>

<section>
	<p class="credit">Photo&nbsp;: Marianne Audet-Chapdelaine</p>
</section>

<section class="main">
  <div class="text">
    <p>Design de l’interface de <a href="http://manivelle.io/">Manivelle</a>, une plateforme d’affichage interactif qui invite à la découverte et à l’exploration de contenus numériques.</p>
    {% include tags.html %}
  </div>
  {% include image.html name="icons" format="png" alt="Des icônes de l’interface de Manivelle" %}
</section>

<section class="wide side-by-side illustrations">
  {% include image.html name="iso1" alt="Illustration des différents modèles de Manivelle" %}
  {% include image.html name="iso2" alt="Illustration des différentes interfaces de Manivelle" %}
</section>

<section class="wide screenshots">
  {% include image.html name="screenshots" alt="Captures d’écran de l’interface de Manivelle" %}
</section>
