---
title: Marais du Nord
date: 2016-08-16
type: design
language: fr
layout: project
tags: [Design web]
---

<section>
  <div class="text">
    <h1>Marais du Nord</h1>
    <p class="intro">La photographie à l’honneur pour le site web d’un parc naturel.</p>
  </div>
</section>

<section class="wide">
  {% include image.html name="hero" alt="Capture d’écran du site web" %}
</section>

<section>
  <div class="text">
    <p>Il y a des pires choses au monde que de passer ses journées à regarder des photos des <a href="https://maraisdunord.com">Marais du Nord</a>. Ce fut ma vie pendant quelques semaines.</p>
    <p>Gestion de projet et développement par <a href="https://desaulniers-simard.com">Desaulniers Simard</a>.</p>

    {% include tags.html %}
  </div>
</section>

<section>
  <div class="text">
    <a href="https://maraisdunord.com" class="button next">Visiter le site web</a>
  </div>
</section>