---
title: Memory
description: Un voyage surréel à travers le cycle des saisons.
order: 1300
published: true
language: fr
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

{% include hero.html alt="Captures d’écran de la vidéo « Memory »" %}

<section>
  <div class="text">
    <p>Pour ce vidéoclip, Johnny Ranger et Mark Ó Fearghaíl ont imaginé un voyage surnaturel à travers le cycle des saisons. J’ai été appelé à ponctuer la vidéo d’interventions surréelles, construites à partir des images saisissantes qu’ils ont tournées.</p>
    <p>Musique par <a href="http://inafilip.ca">Ina Filip</a>. Réalisé par Johnny Ranger et <a href="https://www.manymarks.work">Mark Ó Fearghaíl</a>.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html source="youtube" id="u2spNeBhGSo" title="Vidéoclip complet" %}