---
title: Safia Nolin
date: 2015-11-21
type: video
language: fr
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

<section>
  <div class="text">
    <h1>Safia Nolin</h1>
    <p class="intro">Une navette spatiale pour le vidéoclip <em>Noël Partout</em>.</p>
  </div>
</section>

<section class="wide screenshot">
  {% include image.html name="still" alt="Capture d’écran de la vidéo Noël Partout" %}
</section>

<section>
  <div class="text">
    <p>Quand <a href="http://www.davai.ca">Davai</a> m’a approché pour concevoir l’intérieur d’une navette spatiale, j’ai dit non, je suis contre la colonisation spatiale.</p>
    <p>Après ils m’ont dit que ce n’était pas une vraie navette spatiale, mais une navette spatiale dans un vidéoclip de Safia Nolin, alors j’ai dit oui.</p>

    {% include tags.html %}

  </div>
</section>

{% include video.html id="219014189" poster="breakdown" alt="Capture d’écran de l’analyse étape par étape" %}

<section>
  <div class="text">
    <a href="https://www.youtube.com/watch?v=5fsYFEW3imI" class="button play">Vidéoclip complet sur YouTube</a>
  </div>
</section>
