---
title: Safia Nolin
description: Une navette spatiale pour le vidéoclip <em>Noël Partout</em>.
date: 2015-11-21
published: true
type: video
language: fr
layout: project
tags: [Modélisation 3D, Animation, Compositing]
---

{% include intro.html %}

<section class="wide hero">
  {% include image.html name="hero" alt="Capture d’écran de la vidéo Noël Partout" %}
</section>

<section>
  <div class="text">
    <p>Quand <a href="http://www.davai.tv">Davai</a> m’a approché pour concevoir l’intérieur d’une navette spatiale, j’ai dit non, je suis contre la colonisation spatiale.</p>
    <p>Après j’ai appris que ce n’était pas une vraie navette spatiale, mais une navette spatiale dans un vidéoclip de Safia Nolin, alors j’ai dit oui.</p>
    <p><a href="https://www.youtube.com/watch?v=5fsYFEW3imI" class="externalLink">Vidéoclip complet sur YouTube</a></p>

    {% include tags.html %}

  </div>
</section>

{% include video.html id="219014189" poster="breakdown" title="Étapes de création" %}
