---
title: Salon58
description: Une identité renouvelée pour un petit espace culturel.
order: 60
published: true
thumbnail-format: png
language: fr
layout: project
tags: [Design graphique]
---

{% include hero.html alt="Aperçu de l’identité Salon58" %}

<section>
  <div class="text">
    <p><a href="https://www.mandolinehybride.com/salon58/">Salon58</a> est un petit espace culturel gaspésien qui offre des résidences pour artistes et des spectacles. J’ai eu le plaisir de travailler sur une révision de son identité visuelle.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide logo">
  {% include image.html name="logo" alt="Logo de Salon58" %}
</section>

<section class="wide cartes">
  {% include image.html name="cartes" alt="Cartes de présentation de Salon58" %}
</section>

<section class="wide poster">
  {% include image.html name="poster" alt="Affiche de la saison 2021 de Salon58" %}
</section>
