---
title: Souffle et réminiscence
description: Une installation sur le corps, la peur, l’exaltation.
date: 2011-11-11
published: true
type: video
language: fr
layout: project
tags: [Conception vidéo, Animation]
---

{% include hero.html alt="Photographie de l’installation Souffle et réminiscence" %}

<section>
  <div class="text">
    <p>Inspiré par <em>Le cirque</em> de Jean-Paul Riopelle, Jeannot Painchaud (Cirque Éloize) a imaginé une installation qui nous plonge dans un univers habité de corps fantômatiques qui se tordent, respirent et s’animent dans l’espace.</p>
    <p>Présenté dans le cadre de l’exposition <em>Big Bang</em> au Musée des Beaux-Arts de Montréal. Musique par <a href="http://grandponey.com/jacques-poulin-denis/">Jacques Poulin-Denis</a>. Réalisé au sein de <a href="http://foumalade.org">Foumalade</a>.</p>
    {% include tags.html %}
  </div>
</section>

{% include video.html id="49175473" poster="still" title="Captation" %}
