---
title: Symphonie 5.1
description: Un décor futuriste et vertigineux.
date: 2015-05-01
published: true
type: video
language: fr
layout: project
tags: [Modélisation 3D, Compositing]
---

{% include hero.html alt="Composite de l’affiche Symphonie 5.1 et de la structure filaire sous-jacente" %}

<section>
  <div class="text">
    <p>Pour cette image promotionnelle présentant le spectacle <a href="http://vangrimdecorpssecrets.com/fr/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a> d’Isabelle Van Grimde, le photographe Robert D m’a approché pour concevoir un paysage architectural vertigineux.</p>
    <p>Prix <a href="https://concours.infopresse.com/lux/resultats#91a0753f-198e-46b0-bb16-4b15c4b7b911">Lux 2017</a> dans la catégorie Culturel/Événementiel. Photographie et retouche par Robert D (<a href="http://www.davai.ca">Davai</a>).</p>
    {% include tags.html %}
  </div>
</section>

<section>
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
