---
title: Symphonie 5.1
description: Un décor dystopique et vertigineux.
date: 2015-05-01
published: true
type: video
language: fr
layout: project
tags: [Modélisation 3D, Compositing]
---

{% include hero.html alt="Composite de l’affiche Symphonie 5.1 et de la structure filaire sous-jacente" %}

<section>
  <div class="text">
    <p>Pour cette image promotionnelle présentant <a href="https://vangrimdecorpssecrets.com/fr/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a> d’Isabelle Van Grimde, j’ai collaboré avec le photographe Robert D de Davai pour concevoir ce paysage architectural vertigineux.</p>
    <p>Prix <a href="https://concours.infopresse.com/archive/lux/2017">Lux 2017</a>. Direction artistique, photographie et retouche par <a href="http://www.davai.tv/">Davai</a>.</p>
    {% include tags.html %}
  </div>
</section>

<section>
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
