---
title: Symphonie 5.1
description: Un décor dystopique et vertigineux.
order: 110
published: true
language: fr
layout: project
tags: [Modélisation 3D, Compositing]
---

{% include hero.html alt="Composite de l’affiche Symphonie 5.1 et de la structure filaire sous-jacente" %}

<section>
  <div class="text">
    <p>Pour cette image promotionnelle présentant <a href="https://vangrimdecorpssecrets.com/fr/nouvelles-technologies/symphonie-5-1/a-propos/">Symphonie 5.1</a> d’Isabelle Van Grimde, j’ai collaboré avec le photographe Robert D de Davai pour concevoir ce paysage architectural vertigineux.</p>
    <p>Prix Lux 2017. Direction artistique, photographie et retouche par <a href="http://www.davai.tv/">Davai</a>.</p>
    {% include tags.html %}
  </div>
</section>

<section class="wide">
  {% include image.html name="poster" alt="Affiche de Symphonie 5.1" %}
</section>
