---
title: Étienne Després – Selected works
date: 2018-10-04
type: design
language: en
layout: procjam
slug: umq
---

<section>
  <div class="text">
    <p class="intro"><strong>Moodboard</strong><br>Outil jeunesse UMQ</p>
  </div>
</section>

<section>
  <div class="text">
    <h2>Couleurs</h2>
    <p>Nous proposons une palette voisine de celle du site web de l’UMQ. Le microsite aura sa personnalité distincte, tout en conservant un lien de parenté clair avec l’identité de l’UMQ. La palette ci-dessous est à titre indicatif.</p>
  </div>
</section>

<section>
  {% include image.html name="palette" format="png" alt="Palette de couleurs" %}
</section>

<section>
  <div class="text">
    <h2>Graphiques</h2>
    <p>Les graphiques et les tableaux seront traités avec une attention particulière dans les capsules d’information et les rapports. Ils contriburont substantiellement à donner une personnalité forte au microsite.</p>
  </div>
</section>

<section>
  {% include image.html name="graphiques" format="png" alt="Traitement des graphiques" %}
</section>

<section>
  <div class="text">
    <h2>Mise en page</h2>
    <p>Les capsules d’information seront organisées en blocs, offrant une mise en page aérée et clairement structurée pour rendre l’information digeste et agréable à consulter.</p>
  </div>
</section>

<section>
  {% include image.html name="layout" format="png" alt="Exemples de mise en page" %}
</section>

<section>
  <div class="text">
    <h2>Questionnaire</h2>
    <p>Le questionnaire sera traité visuellement avec légerté et simplicité, afin de le rendre invitant et facile à comprendre.</p>
  </div>
</section>

<section>
  {% include image.html name="questionnaire" format="png" alt="Exemples de questionnaires" %}
</section>

