---
---

{%- if page.title -%}
  {%- assign title = page.title | append: " – " | append: site.title -%}
{%- else -%}
  {%- assign title = site.title | append: " – " | append: site.i18n[page.language].description -%}
{%- endif -%}
{%- assign description = page.description | default: site.i18n[page.language].description | strip_html -%}

<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    {% include og.html description=description %}
    {% include piwik.html %}
  </head>
  <body{% if page.slug %} class="{{ page.slug }}"{% endif %}>
{% include header.html %}
{{ content }}
{% include footer.html %}
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>