body.apollo-11 {
  background: #042431 url(../images/apollo-11/stars.png) repeat-x;
  
  & > article {
    background: url(../images/apollo-11/screenshot.png) no-repeat 50% 100%;
    background-size: contain;
    padding-bottom: 50%;
    
    img.eagle {
      display: block;
      float: left;
      clear: both;
      width: 30%;
      margin-top: 2em;
      margin-left: 9%;
    }
  }
}
