body.ariane {
  background-color: #051017;
  
  section.wrapper {
    background: #051017 url(../images/ariane/still.png) no-repeat;
    background-size: 220%;
    background-position: 40% 0;
    padding-bottom: 128%;
    
    @include tablet {
      background-size: 120%;
      padding-bottom: 64%;
    }
  
    @include desktop {
      background-size: 100%;
      padding-bottom: 53%;
    }
    
    section {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
